/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}
.area,
.category {
  margin-right: 1rem;
}
iframe {
  width: 560px;
  height: 315px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
